nav{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background: black;
    border-radius: 2em;
    div,a{
        all: unset;
        // border-radius: 0.3em;
        margin: 1em;
        color: white;
        align-content: center;
        h2{
            color: white;
        }
        
    }
    // :hover{
    //     background: green;
    //     border-radius: 3em;
    // }

    h2{
        color: white;
    }
}