<div [style.background] = "task.color" class="task {{ task.completed ? 'completada' : '' }}" >
<div>
  <h2> <span *ngIf="!editing" (dblclick)="editTask()">{{task.text}}</span></h2>
  <input *ngIf="editing" (blur)= "cancelEditTask()" (keyup.enter)="editTask()" type="text" [(ngModel)]="task.text">
</div>
  <div class="description">{{task.description}}</div>
  
  <div class="controls">
  
    <input type="checkbox" name="Completada" [checked]="task.completed" (change)="isTrue()">
  <input type="text" placeholder="añade descripción" (keyup.enter)="addDescription($event)" >
  <div (click)="isTrue()">✔️</div>
  <div (click)=editTask()>EDITAR NOMBRE TAREA ✏️</div>
  <div  (click)=deleteTask()>❌ </div>
  <select (change)="changeColor($event)">
      <option value="white" >White</option>
      <option value="rgb(91, 91, 235)">Blue</option>
      <option value="rgb(104, 233, 114)">Green</option>
      <option value="rgb(216, 117, 117)">Red</option>
  </select>
  
</div>

</div>