.task{
    background: white;
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.3em 0;
}

.task h2{
    text-align: center;
}
.controls{
    opacity: 0;
    transition: opacity 1s;
}
.task:hover .controls {
    opacity:1;
}

.description{
    text-align: center;
}
input{
    all:unset;
    border-bottom:  1px solid grey;
    color:grey;
    width: 100%
}

.completada {
    opacity: 0.3;
    text-decoration: line-through;
    background: grey;
  }