<div class="task" >
  <h2>{{task.text}}</h2>
  <div class="description">{{task.description}}</div>
  
  <div class="controls">
  
    <!-- <input type="checkbox" name="Completada" [checked]="task.completed" (change)="isTrue()"> -->
  <input type="text" placeholder="añade descripción" (keyup.enter)="addDescription($event)" >
  <div (click)="isTrue()">✔️</div>
  <div  (click)=deleteTask()>❌ </div>
  <select>
      <option value="white">White</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="red">Red</option>
  </select>
  
</div>

</div>