.list {
    padding: 0.7em;
    background: gold;
    border-radius: 0.5em;
    margin: 0.7em;
    
}
.list-controls{
    display: flex;
    flex-direction: row;
    margin: 0.3em;
}
.list h3{
    text-align: center;
}
input{
    all:unset;
    border-bottom:  1px solid grey;
    color:grey;
    width: 100%
}