.list {
    padding: 0.7em;
    background: gold;
    border-radius: 0.5em;
    margin: 0.7em;
    
}

.list h1{
    text-align: center;
}
input{
    all:unset;
    border-bottom:  1px solid grey;
    color:grey;
    width: 100%
}